body {
    width: 100%;
    height: 100%;
    background-color: #FAF7F3;
    color: #45828E;
}

.site-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 250px;
}

.site-wrapper h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 40pt;
}

.site-wrapper h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.site-wrapper p a {
    color: rgba(69, 130, 142, 1);
    font-size: 26pt;
    text-decoration: none;
    margin: 5px 10px;
}

.site-wrapper p a:hover {
    color: rgba(69, 130, 142, .7);
    text-decoration: none;
}

.second-session {
    margin-top: 400px;
}